/* FONTS GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* VARIABLES */

:root {
    --blanco: #E0E0E0;
    --azul-opacidad: #184463;
    --bg-menu: #003053;
    --bg-body: #C7E1FF;
}

/* GENERALES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: var(--blanco);
}

/* LAYOUT */

.dashboard-principal{
    max-width: 100%;
    height: 100%;
    /*float: left; */
}

.menu-dashboard {
    width: 13%;
    height: 95vh;
    background: var(--bg-menu);
    padding: 20px;
    transition: max-width .3s ease;
    float: left; 
    
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-menu .logo {
    display: flex;
    align-items: center;
}

.top-menu .logo img {
    width: 40px;
    transition: width .3s ease;
}

.top-menu .logo span {
    font-size: 20px;
    margin-left: 20px;
    display: none;
}

.top-menu .toggle {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.top-menu .toggle i {
    font-size: 35px;
}

/* INPUT BOX */

.input-search {
    width: 100%;
    margin: 50px 0;
    background-color: var(--azul-opacidad);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.input-search i {
    font-size: 30px;
    margin-right: 20px;
}

.input-search .input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 30px;
    color: var(--blanco);
    font-size: 22px;
    display: none;
}

/* ENLACES MENU */

.menu .enlace {
    width: 100%;
    padding: 20px 0 20px 17px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease;
}

.menu .enlace:hover {
    background: var(--azul-opacidad);
}

.menu .enlace a {

    margin-right: 20px;
    font-size: 25px;
    color: white;
    text-decoration: none;


}

.menu .enlace span {
    opacity: 0;
    transition: opacity .3s ease;
}

.menu-dashboard.open {
    width: 18%;
    height: 95vh;
}

.menu-dashboard.open .top-menu .logo span {
    display: block;
}

.menu-dashboard.open .input-search
.menu-dashboard.open .menu .enlace {
    width: auto;
}

.menu-dashboard.open .input-search .input {
    display: block;
}

.menu-dashboard.open .menu .enlace {
    padding: 20px;
}

.menu-dashboard.open .menu .enlace span {
    opacity: 1;
}

.flex{
    padding: 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex .enlace{
    width: 100%;
    padding: 20px 0 20px 17px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease;
}

.flex ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex ul li{
    display: inline-block;

}


.flex ul li p {
    color: white;
    text-decoration: none;
}

.flex ul li a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 20px;

    font-size: 110%;
}

.flex ul li a:hover{

    background-color: #184463;
    padding: 20px;
}

.flex .logo img{
    padding: 10px;
    vertical-align: middle;
}

.flex .logo span{
    
    padding: 10px;
    vertical-align: middle;
    font-size: 180%;
}

.flex ul li p{
    vertical-align: middle;
    font-size: 110%;
    padding: 20px;
    
}

/*section {
    width: 150px;
    height: 970px;
    background: transparent;
    float: left;
}  

aside {
    width: 1753px;
    height: 100vh;
    background: transparent;
    float: right;
}*/

.container{
    width: 87%;
    /* height: 95vh; */
    background: #Ebeef1;
    padding: 20px;
    transition: max-width .3s ease;
    float: right; 
}

.container-seccion-titulo{
    width: 300px;
    /* height: 10vh; */
    background-color: var(--bg-menu);
    padding: 15px;
    border-radius: 15px;
    float: left;
    align-items: center;
}

.container-seccion-titulo h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    color: white;
    width: auto;
}

.container-seccion-menu2{
    width: auto;
    height: 10vh;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    float: right;

}


.container-seccion-titulo h3{

    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin-top: 0px;
    font-family: arial;
    font-size: 25px;
}

.container-seccion{
    width: 100%;
    height: AUTO;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin-top: 100px;

    vertical-align: middle;
    float: none;
}

.table-my-0{
    align-items: center;
}


.navbar-brand {
    font-size: 20px;
    margin: 5px;
    color: black;
    font-size: 200%;
}


.container-table {
    width: 100%;
    height: 50%;
    font-size: 91%;
    background-color: #c5c5c5;
    margin-top: 20px;
    margin-bottom: 20px;
    /*place-content: center;*/
}


.container-table .table-my-0 {
    background-color: #c5c5c5;
    text-align: left;
    /*border-collapse: collapse; */
    width: 100%;
}

.container-table .table-my-0 th {
    padding: 10px;
    font-size: auto;
    
}

.container-table .table-my-0 td {
    padding: 3px;
    color: black;
    font-size: auto;

}

.container-table .table-my-0 td a{
    margin-top: 2%;
    padding: 4px;
    color: white;
    font-size: 80%;
    background-color: #1E5085;
    border: solid 2px #1E5085;
    border-radius: 8px;
    display: inline-block;
    text-decoration: none;
}

.container-table .table-my-0 td a:hover{
    color: white;
    font-size: 80%;
    background-color: var(--bg-menu);
    border: solid 2px var(--bg-menu);
    border-radius: 8px;
    display: inline-block;
}


.container-table .table-my-0 td form {
    padding: 4px;
    color: black;
    font-size: 80%;  
     
}


.container-table .table-my-0 td form .btn-eliminar{
    margin-top: 1%;
    color: white;
    font-size: 110%;
    background-color: #1E5085;
    border: solid 2px #1E5085;
    border-radius: 8px;
    display: inline-block;
    
}

.container-table .table-my-0 td form .btn-eliminar:hover{
    color: white;
    font-size: 110%;
    background-color: var(--bg-menu);
    border: solid 2px var(--bg-menu);
    border-radius: 8px;
    display: inline-block;
    /*text-decoration: none;
    font-style: none; */

}


.container-table .table-my-0 thead {
    background-color: #003053;
    border-bottom: solid 5px #0F362D;
    color: white;
    font-size: 90%;
}

/* buscador*/ 

.container-seccion .formulario-buscar{
    background-color: white;
    color: white;
    width: 100%;
    height: 25px;
    vertical-align: middle;
    float: none;
    display: inline-block;
    
}

.container-seccion .formulario-buscar input{
    
    width: 25%;
    height: 100%;
    background-color: #E5E7EB;
    align-items: left;
    text-align: left;
    border-radius: 15px;
    padding: 10px;
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-color: white;
    margin-left: 60%;

    border: 1px solid white;

    color: #414752;
}

.container-seccion .formulario-buscar .boton-buscar{
    
    width: 10%;
    height: 100%;
    background-color: var(--azul-opacidad);
    border-radius: 15px;
    color: white;
   
    border: 1px solid var(--azul-opacidad);  /* añadir el grosor del vorder, solor y que sea solido*/

    border-radius: 15px;
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
} 

.container-seccion .formulario-buscar .boton-buscar:hover{
    background-color: var(--bg-menu);
}



/* tablaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa diseñoooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo*/

.container-seccion .card-body2{
    width: 500px;
    height: 5vh;
    background-color: white;
    /*padding: 3px;*/
    border-radius: 30px;
    float: right;
}

.container-seccions .card-body2 ul{
    list-style: none;
    width: 100%;
    height: 100%;
}


.card-body2 span{
    color: white;
    display: block;
    height: 30px;
    width: 30px;
    margin-top: 8px;
    margin-left: 21px;
    text-decoration: none;
}

.card-body2 ul li{
    display: inline-block;
    background-color: #1E5085;
    border-radius: 25px;
    
}

.card-body2 ul li a{
    color: white;
    display: block;
    height: 30px;
    width: 30px;
    margin-top: 8px;
    margin-left: 21px;
    text-decoration: none;
    
    
}

.card-body2 ul :hover{
    background-color: var(--bg-menu); 
    border-radius: 25px;
}

/* hasta aquiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii*/

.container-seccion .container-buton-crear{
    width: 450px;
    height: 5vh;
    background-color: white;
    /*padding: 3px;*/
    border-radius: 30px;
    float: left;
}

.container-seccion .container-buton-crear .btn-crear-Tramite{
    width: 40%;
    height: 100%;
    background-color: var(--azul-opacidad);
    border-radius: 15px;
    color: white;
   
    border: 1px solid var(--azul-opacidad);  /* añadir el grosor del vorder, solor y que sea solido*/

    border-radius: 15px;
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
} 

.container-seccion .container-buton-crear .btn-crear-Tramite:hover{
    background-color: var(--bg-menu);
}


tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover td{
    background-color: #369681;
    color: white;
}

/* java scrip oepn asider */

.container.open {
    width: 82%;
    height: 95vh;
}

/* ventana de javascrip*/

/*.contenedor-ventana-crear-carrera{
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
} */

.ventana-crear-carrera{
    background-color: rgba(0, 0, 0, 0.747);
    width: 45%;
    color: rgb(255, 255, 255, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 33px;
    min-height: 250px;
    position: absolute;
    left: 0%;
    top: 0%;
    display: none;
    height: 104vh;
    width: 100%; 
}

.ventana-crear-carrera .container-carrera{
    background-color: white;
    width: 45%;
    color: rgb(255, 255, 255, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 33px;
    min-height: 250px;
    border-radius: 22px;
    position: absolute;
    left: 35%; /* Mover el registro carrera*/
    top: 5%;
    display: none;
    height: 83%;
    width: 30%;
}


.cerrar{
    right: 3px;
    top: 1px;
}

.cerrar img{
    position: absolute;
    right: 40px;
    top: 45px;
    width: 35px;
    height: 40px;
}


/* ESTILO DE FORMULARIO CREAR CARRERA*/

.container-carrera{
    padding-left: 30px;
    padding-top: 80px;
}

.text-titulo-carrera{
    position: flex;
    width: 100%;
    height: 10%;
    top: 2%;
    padding: 10px;
    color: black;
}

.form-carrera{
    position: flex;
    width: 100%;
    height:80%;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 20%;
    padding-right: 10%;
    border-radius: 4px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}



.form-carrera h1{
    margin-bottom: 20px;
}


.form-carrera label{
    display: block;
    width: 100%;
    height: 5%;
    align-items: left;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.form-carrera select{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #E5E7EB;
    align-items: left;
    text-align: left;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-color: white;

    border: 1px solid white;
}

.form-carrera input{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #E5E7EB;
    align-items: left;
    text-align: left;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-color: white;

    border: 1px solid white;
}

.form-carrera p{
    align-items: left;
    text-align: left;
    color: black;
    font-size: 10px;
}



.form-carrera .boton-registro-carrera{
    width: 100%;
    background-color: #4269bd;
    border-radius: 15px;
    color: white;
    margin-top: 15px;

    border: 1px solid #4269bd; /* añadir el grosor del vorder, solor y que sea solido*/

    border-radius: 15px;
    padding: 5px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.form-carrera .boton-registro-carrera:hover{
    background-color: var(--bg-menu);
}


.container .container-titulo-perfiladmin{
    width: 50%;
    height: 10vh;
    background-color: var(--bg-menu);
    padding: 32px;
    border-radius: 15px;
    float: left;   
    margin-left: 25%;

}

.container .container-titulo-perfiladmin .text-titulo-perfiladmin{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    color: white;
    width: 100%;
}

.container .container-datos-perfiladmin{
    width: 50%;
    height: 78vh;
    background-color: white;
    padding: 60px;
    border-radius: 15px;
    margin-top: 100px;
    margin-left: 25%;

    vertical-align: middle;
    float: none;

}

/* formulario para actualizar datos del admin --------------------------------------------------*/
.form-perfiladmin label{
    display: block;
    width: 100%;
    height: 5%;
    align-items: left;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;

    padding: 10px;
    font-weight: bold;
}

.form-perfiladmin input{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #E5E7EB;
    align-items: left;
    text-align: left;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-color: white;

    border: 1px solid white;

    color: #414752;
}

.form-perfiladmin p{
    align-items: left;
    text-align: left;
    color: white;
    font-size: 10px;
}



.form-perfiladmin .boton-actualizar-datos-admin{
    width: 100%;
    background-color: #4269bd;
    border-radius: 15px;
    color: white;
    margin-top: 15px;

    border: 1px solid #4269bd; /* añadir el grosor del vorder, solor y que sea solido*/

    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.form-perfiladmin .boton-actualizar-datos-admin:hover{
    background-color: var(--bg-menu);
}

/* mostrar tramite formularios
*/
.container-seccion-mostrar-tramite-mostrar{
    width: 34%;
    height: 10vh;
    background-color: var(--bg-menu);
    padding: 15px;
    border-radius: 15px;
    float: flex; 
}

.container-seccion-mostrar-tramite-mostrar h4{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    color: white;
    width: 100%;
}

.container-titulo-mostrar-tramite-mostrar{
    margin-top: 20px;
    margin-left: 0%;
    width: 100%;
    height: 10vh;
    background-color: var(--bg-menu);
    padding: 32px;
    border-radius: 15px;
    float: left;   
    
}

.container-titulo-mostrar-tramite-mostrar h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    color: white;
    width: 100%;
}

/* parte  1*/

.container .container-datos-tramite-seleccionado{
    width: 17%;
    height: 67vh;
    background-color: white;
    border-radius: 15px;
    margin-top: 1%;
    float: left; 
}

.container .container-datos-tramite-seleccionado form{
    width: 80%;
    
    text-align: left;
    align-items: left;
    vertical-align: middle; 
    display: center;
    padding-top: 30px; /* limite superior en el formulario*/
    
}

.container .container-datos-tramite-seleccionado label{

    display: block;
    width: 90%;
    height: 2%;
    margin-left: 25px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
   

    padding: 3px;
    font-weight: bold;
}

.container .container-datos-tramite-seleccionado input{
    display: block;
    margin-left: 25px;
    width: 100%;
    /*height: 100%; */
    background-color: #E5E7EB;
   
    border-radius: 15px;
    padding: 8px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 

    border-color: white;

    border: 1px solid white;

    color: #414752;
}
 
/* parte  2*/

.container .container-datos-detalle-tramite-seleccionado{
    width: 17%;
    height: 67vh;
    background-color: white;
    border-radius: 15px;
    margin-top: 1%;
    margin-left: 1%;
    float: left; 
}

.container .container-datos-detalle-tramite-seleccionado form{
    width: 80%;
    
    text-align: left;
    align-items: left;
    vertical-align: middle; 
    display: center;
    padding-top: 45px; /* limite superior en el formulario*/
}

.container .container-datos-detalle-tramite-seleccionado label{
    display: block;
    width: 90%;
    height: 2%;
    margin-left: 25px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
   

    padding: 3px;
    font-weight: bold;
}

.container .container-datos-detalle-tramite-seleccionado input{
    display: block;
    margin-left: 25px;
    width: 100%;
    /*height: 100%; */
    background-color: #E5E7EB;
   
    border-radius: 15px;
    padding: 8px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 

    border-color: white;

    border: 1px solid white;

    color: #414752;
}



/* parte  3*/

.container .container-datos-detalle-tramite-seleccionado-archivo {
    width: 31.5%;
    height: 67vh;
    background-color: white;
    padding: 10px 15px;
    border-radius: 15px;
    margin-top: 1%;
    margin-left: 1%;

    vertical-align: middle;
    float: right;
}

.container .container-datos-detalle-tramite-seleccionado-archivo h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; 
    text-align: left;
    margin-top: 10px;
    color: black;
}

.container .container-datos-detalle-tramite-seleccionado-archivo hr{
    margin-bottom: 10px;
    color: black;
}

.container .container-datos-detalle-tramite-seleccionado-archivo embed{
    height: 92%;
    width: 100%;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid; 
    border-color: black;
}



/* parte  4*/

.container .container-datos-detalle-tramite-seleccionado-archivo2 {
    width: 31.5%;
    height: 67vh;
    background-color: white;
    padding: 10px 15px;
    border-radius: 15px;
    margin-top: 1%;
    margin-left: 1%;

    vertical-align: middle;
    float: right;
}

.container .container-datos-detalle-tramite-seleccionado-archivo2 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; 
    text-align: left;
    margin-top: 10px;
    color: black;
}

.container .container-datos-detalle-tramite-seleccionado-archivo2 hr{
    margin-bottom: 10px;
    color: black;
}

.container .container-datos-detalle-tramite-seleccionado-archivo2 embed{
    height: 92%;
    width: 100%;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid; 
    border-color: black;
}

/* -------------------------------parte  1 para editar tramite*/

.container-datos-tramite-seleccionado-edit {
    width: 100%;
    height: 60vh;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    margin-top: 120px;
    margin-left: 0%;

    vertical-align: middle;
    float: none;
}

.container-datos-tramite-seleccionado-edit form {
    width: 100%;
    height: 50vh;
    background-color: white;
    padding-right: 0%; 
    border-radius: 15px;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;

    vertical-align: middle;
    float: none;
}

.container-datos-tramite-seleccionado-edit form .container-datos-tramite-seleccionado-parte1{
    width: 35%;
    padding-right: 5%;
    float: left;
   
    
}

.container-datos-tramite-seleccionado-edit form .container-datos-detalle-tramite-seleccionado-parte2{
    width: 30%;
    /*padding-right: 5%;
    padding-left: 5%;*/
    float: left;
}

.container-datos-tramite-seleccionado-edit form .container-datos-detalle-tramite-seleccionado-parte3{
    width: 35%;
    padding-left: 5%;
    float: right;
}

.container-datos-tramite-seleccionado-edit form .container-datos-detalle-tramite-seleccionado-parte4{
    width: 100%;
    padding-left: 34%;
    padding-top: 60px;
    float: left;
}


.container-datos-tramite-seleccionado-edit form .container-datos-detalle-tramite-seleccionado-parte4 button {
    width: 50%;
    background-color: #4269bd;
    border-radius: 15px;
    color: white;
    /*margin-top: 15px;*/

    border: 1px solid #4269bd; /* añadir el grosor del vorder, solor y que sea solido*/

    border-radius: 15px;
    padding: 10px;
    /*margin-bottom: 15px;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.container-datos-tramite-seleccionado-edit form .container-datos-detalle-tramite-seleccionado-parte4 button:hover{
    background-color: var(--bg-menu);
}



.container-datos-tramite-seleccionado-edit label{

    display: block;
    width: 100%;
    height: 0%;
    align-items: left;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;

    padding: 3px;
    font-weight: bold;
}

.container-datos-tramite-seleccionado-edit select{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #E5E7EB;
    align-items: left;
    text-align: left;
    border-radius: 15px;
    padding: 8px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-color: white;

    border: 1px solid white;

    color: #414752;
}

.container-datos-tramite-seleccionado-edit select option:hover{
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--bg-menu);
    align-items: left;
    text-align: left;
    border-radius: 15px;
    padding: 8px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-color: white;

    border: 1px solid white;

    color: #414752;
}

.container-datos-tramite-seleccionado-edit input{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #E5E7EB;
    align-items: left;
    text-align: left;
    border-radius: 15px;
    padding: 8px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-color: white;

    border: 1px solid white;

    color: #414752;
}


/* parte*/
 

.container .container-titulo-crear-detalletramite-mostrar-form{
    width: 45%;
    height: 6vh;
    background-color: var(--bg-menu);
    padding: 20px;
    border-radius: 15px;
    float: left;   
    margin-left: 0%;
    margin-top: 15px;

}

.container .container-titulo-crear-detalletramite-mostrar-form .text-titulo-mostrar-detalle-tramite-certificador{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: white;
    width: 100%;
}

/*
.container-seccion-menu2-detalledocumento{
    width: 100%;
    height: 10vh;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    margin-top: 5px;
    float: right;  
}



.container-seccion-menu2-detalledocumento ul{
    list-style: none;
    
}

.container-seccion-menu2-detalledocumento ul li{
    display: inline-block; 
    background-color: #1E5085;
    border-radius: 10px; 
    width: 45%;
    height: 50px;
    margin-left: 3%;
    
}

.container-seccion-menu2-detalledocumento ul li a{
    color: white; 
    display: block; 
    padding: 15px;
    text-align: center; 
    text-decoration: none;

}

.container-seccion-menu2-detalledocumento ul li a:hover{
    background-color: var(--bg-menu);
    color: white;
    border-radius: 10px; 
}

*/
 /* formulario para crear tramites y detalle de tramites en la seccion de administrador*/
.container .container-titulo-crear-detalletramite-certificado{
    width: 45%;
    height: 7vh;
    background-color: var(--bg-menu);
    padding: 20px;
    border-radius: 15px;
    float: left;   
    margin-left: 30px;
    margin-top: 10px;

}

.container .container-titulo-crear-detalletramite-certificado .text-titulo-detalletramiteCert{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    color: white;
    width: 100%;
}

.container .container-titulo-crear-tramite-constanciaycertificado-estudios{
    width: 45%;
    height: 7vh;
    background-color: var(--bg-menu);
    padding: 20px;
    border-radius: 15px;
    float: right;   
    margin-right: 30px;
    margin-top: 10px;

}

.container .container-titulo-crear-tramite-constanciaycertificado-estudios .text-titulo-detalletramiteConst{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    color: white;
    width: 100%;
}



/* form crear tramite certificado*/

.container .container-seccion-detalledocumento-tramite-certificado{
    width: 45%;
    height: 70vh;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 30px;

    vertical-align: middle;
    float: left;
}

.form-datos-form{
    margin-top: 15px;
}

.form-datos-form label{
    display: block;
    width: 70%;
    height: 5%;
    align-items: left;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;

  

    padding: 1px;
    font-weight: bold;

    margin-left: 85px;
}

.form-datos-form input{
    display: block;
    width: 70%;
    height: 100%;
    background-color: #E5E7EB;
    align-items: left;
    text-align: left;;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-color: white;

    border: 1px solid white;

    color: #414752;

    margin-left: 85px;
}

.form-datos-form p{
    align-items: left;
    text-align: left;
    color: white;
    font-size: 8px;

    margin-left: 85px;
}

.form-datos-form select{
    display: block;
    width: 70%;
    height: 100%;
    background-color: #E5E7EB;
    align-items: left;
    text-align: left;
    border-radius: 15px;
    padding: 1px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-color: white;

    border: 1px solid white;

    color: #414752;

    margin-left: 85px;
}

.form-datos-form .boton-registro-detalle-tramite{
    width: 70%;
    background-color: #4269bd;
    border-radius: 15px;
    color: white;
    margin-top: 15px;

    border: 1px solid #4269bd; /* añadir el grosor del vorder, solor y que sea solido*/

    border-radius: 15px;
    padding: 3px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    margin-left: 85px;
}

.form-datos-form .boton-registro-detalle-tramite:hover{
    background-color: var(--bg-menu);
}


/* form crear tramite constancia y certificado de estudios*/

.container .container-seccion-detalledocumento-tramite{
    width: 45%;
    height: 19vh;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin-top: 10px;
    margin-right: 30px;

    vertical-align: middle;
    float: right;
}


.container .container-seccion-detalledocumento-tramite label{
    color: black;
    
}
.container .container-seccion-detalledocumento-tramite ul{
    margin-top: 15px;
}

.container .container-seccion-detalledocumento-tramite ul li{
    color: black;
   
    margin-left: 20px;
}


/* Tabla de tramites para ambos usuarios*/

.container-table-tramite {
    width: 100%;
    height: 79%;
    font-size: 91%;
    background-color: #c5c5c5;
    margin-top: 20px;
    margin-bottom: 30px;
    /*place-content: center;*/
}


.container-table-tramite .table-my-0-tramite {
    background-color: #c5c5c5;
    text-align: left;
    /*border-collapse: collapse; */
    width: 100%;
}

.container-table-tramite .table-my-0-tramite th {
    padding: 10px;  
    font-size: 130%;
}



.container-table-tramite .table-my-0-tramite td {
    padding: 3px;
    color: black;
    font-size: 100%;
    width: 5%;

} 

.container-table-tramite .table-my-0-tramite td a{
    margin-top: 2%;
    padding: 4px;
    color: white;
    font-size: 80%;
    background-color: #1E5085;
    border: solid 2px #1E5085;
    border-radius: 8px;
    display: inline-block;
    text-decoration: none;
}

.container-table-tramite .table-my-0-tramite td a:hover{
    color: white;
    font-size: 80%;
    background-color: var(--bg-menu);
    border: solid 2px var(--bg-menu);
    border-radius: 8px;
    display: inline-block;
}


.container-table-tramite .table-my-0-tramite td form {
    padding: 4px;
    color: black;
    font-size: 80%;  
     
}


.container-table-tramite .table-my-0-tramite td form .btn-eliminar{
    margin-top: 1%;
    color: white;
    font-size: 110%;
    background-color: #1E5085;
    border: solid 2px #1E5085;
    border-radius: 8px;
    display: inline-block;
    
}

.container-table-tramite .table-my-0-tramite td form .btn-eliminar:hover{
    color: white;
    font-size: 110%;
    background-color: var(--bg-menu);
    border: solid 2px var(--bg-menu);
    border-radius: 8px;
    display: inline-block;
    /*text-decoration: none;
    font-style: none; */

}


.container-table-tramite .table-my-0-tramite thead {
    background-color: #003053;
    border-bottom: solid 5px #0F362D;
    color: white;
    font-size: 70%;
}

/* tabla ffondoo*/
.container-seccion-tramite{
    width: 100%;
    height: 76vh;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin-top: 100px;
    margin-bottom: 0px;

    vertical-align: middle;
    float: none;
}

.container-seccion-tramite .container-buton-crear{
    width: 450px;
    height: 5vh;
    background-color: white;
    /*padding: 3px;*/
    border-radius: 30px;
    float: left;
}

.container-seccion-tramite .container-buton-crear .btn-crear-Tramite{
    width: 40%;
    height: 100%;
    background-color: var(--azul-opacidad);
    border-radius: 15px;
    color: white;
   
    border: 1px solid var(--azul-opacidad);  /* añadir el grosor del vorder, solor y que sea solido*/

    border-radius: 15px;
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
} 

.container-seccion-tramite .container-buton-crear .btn-crear-Tramite:hover{
    background-color: var(--bg-menu);
}


/* tablaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa diseñoooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo*/

.container-seccion-tramite .card-body2-tramite{
    width: 500px;
    height: 5vh;
    background-color: white;
    /*padding: 3px;*/
    border-radius: 30px;
    float: right;
    
}

.container-seccions-tramite .card-body2-tramite ul{
    list-style: none;
    width: 100%;
    height: 100%;
}


.card-body2-tramite span{
    color: white;
    display: block;
    height: 30px;
    width: 30px;
    margin-top: 8px;
    margin-left: 21px;
    text-decoration: none;
}

.card-body2-tramite ul li{
    display: inline-block;
    background-color: #1E5085;
    border-radius: 25px;
    
}

.card-body2-tramite ul li a{
    color: white;
    display: block;
    height: 30px;
    width: 30px;
    margin-top: 8px;
    margin-left: 21px;
    text-decoration: none;
    
    
}

.card-body2-tramite ul :hover{
    background-color: var(--bg-menu); 
    border-radius: 25px;
}

/* hasta aquiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii*/




/* buscador*/ 

.container-seccion-tramite .formulario-buscar-tipodocumento{
    background-color: white;
    color: white;
    width: 100%;
    height: 25px;
    vertical-align: middle;
    float: none;
    display: inline-block;
    
}

.container-seccion-tramite .formulario-buscar-tipodocumento input{
    
    width: 25%;
    height: 100%;
    background-color: #E5E7EB;
    align-items: left;
    text-align: left;
    border-radius: 15px;
    padding: 10px;
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-color: white;
    margin-left: 59%;

    border: 1px solid white;

    color: #414752;
}

.container-seccion-tramite .formulario-buscar-tipodocumento .boton-buscar{
    
    width: 10%;
    height: 100%;
    background-color: var(--azul-opacidad);
    border-radius: 15px;
    color: white;
   
    border: 1px solid var(--azul-opacidad);  /* añadir el grosor del vorder, solor y que sea solido*/

    border-radius: 15px;
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
} 

.container-seccion-tramite .formulario-buscar-tipodocumento .boton-buscar:hover{
    background-color: var(--bg-menu);
}

/* formulario para enviar registro de detalle documento a tramite*/
.container-titulo-mostrar-tramite-mostrar-creartramite{
    margin-top: 20px;
    width: 47.5%;
    height: 10vh;
    background-color: var(--bg-menu);
    padding: 32px;
    border-radius: 15px;
    float: left;
}



.container-titulo-mostrar-tramite-mostrar-creartramite h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    color: white;
    width: 100%;
}

.container-titulo-mostrar-tramite-mostrar-creartramite-NOTA{
    margin-top: 20px;
    margin-left: 52.5%;
    width: 47.5%;
    height: 10vh;
    background-color: var(--bg-menu);
    padding: 32px;
    border-radius: 15px;
    float: flex;
}

.container-titulo-mostrar-tramite-mostrar-creartramite-NOTA h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    color: white;
    width: 100%;
}

/* parte */

.container-seccion-detalledocumento-tramite-notas {
    width: 47.5%;
    height: 20vh;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    margin-top: 20px;
    

    vertical-align: middle;
    float: right;
}

.container-seccion-detalledocumento-tramite-notas ul {
    margin-top: 10px;
}

.container-seccion-detalledocumento-tramite-notas ul li{
    color: black;
    margin-left: 20px;
}

.container-seccion-detalledocumento-tramite-notas label{
    color: black;
}

.container-datos-tramite-seleccionado-edit-creartramite {
    width: 47.5%;
    height: 50vh;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    margin-top: 20px;
    

    vertical-align: middle;
    float: left;
}

.container-datos-tramite-seleccionado-edit-creartramite form {

    
    background-color: white;
    padding-right: 0%; 
    border-radius: 15px;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;

    vertical-align: middle;
    float: none;
}

.container-datos-tramite-seleccionado-edit-creartramite form button {
    width: 60%;
    background-color: #4269bd;
    border-radius: 15px;
    color: white;
    margin-top: 20px;

    border: 1px solid #4269bd; /* añadir el grosor del vorder, solor y que sea solido*/

    border-radius: 15px;
    padding: 10px;
    margin-left: 20%;
    /*margin-bottom: 15px;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.container-datos-tramite-seleccionado-edit-creartramite form button:hover{
    background-color: var(--bg-menu);
}



.container-datos-tramite-seleccionado-edit-creartramite form label{

    display: block;
    width: 60%;
    /*height: 0%; */
    align-items: left;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;

    padding: 3px;
    font-weight: bold;
    margin-left: 20%;
}

.container-datos-tramite-seleccionado-edit-creartramite form select{
    display: block;
    width: 60%;
    /*height: 100%; */
    background-color: #E5E7EB;
    align-items: left;
    text-align: left;
    border-radius: 15px;
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-color: white;

    border: 1px solid white;

    color: #414752;
}

.container-datos-tramite-seleccionado-edit-creartramite form select option:hover{
    display: block;
    width: 60%;
    /*height: 100%;*/
    background-color: var(--bg-menu);
    align-items: left;
    text-align: left;
    border-radius: 15px;
    padding: 8px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-color: white;

    border: 1px solid white;

    color: #414752;
}

.container-datos-tramite-seleccionado-edit-creartramite form input{
    display: block;
    width: 60%;
    /*height: 100%; */
    background-color: #E5E7EB;
    align-items: left;
    text-align: left;
    border-radius: 15px;
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-color: white;

    border: 1px solid white;

    color: #414752;
}


/* Parte final*/






























.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding-top: 2%;
}

.card {
    display: flex;
    width: 100%; /* Tarjetas ocupan el ancho completo del contenedor */
    max-width: 400px; /* Ancho máximo de 400px para evitar que se vean demasiado grandes en pantallas grandes */
    margin: 10px;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    flex-direction: column;
    overflow: hidden;
}

@media (min-width: 576px) {
  /* Pantallas más grandes que 576px */
    .card {
        width: 45%; /* Tarjetas ocupan el 45% del ancho del contenedor */
    }
}

@media (min-width: 768px) {
  /* Pantallas más grandes que 768px */
    .card {
      width: 30%; /* Tarjetas ocupan el 30% del ancho del contenedor */
    }
}

@media (min-width: 992px) {
  /* Pantallas más grandes que 992px */
    .card {
      width: 23%; /* Tarjetas ocupan el 23% del ancho del contenedor */
    }
}

.card-img-top {
    height: auto;
    width: 100%;
}

.card-body {
    flex: 1;
    margin: 5%;
}

.card-title{
    color: #414752;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text{
    color: #414752;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.boton-card {
    display: block;
    width: 100%; 
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-card:hover {
    background-color: #218838;
}