/* FONTS GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* VARIABLES */

:root {
    --blanco: #E0E0E0;
    --azul-opacidad: #184463;
    --bg-menu: #003053;
    --bg-body: #C7E1FF;
}

/* GENERALES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: var(--blanco);
}



.container{
    width: 87%;
    /* height: 95vh; */
    background: #Ebeef1;
    padding: 20px;
    transition: max-width .3s ease;
    float: right; 
}

.container-seccion-tituloJJ{
    width: 300px;
    /* height: 10vh; */
    background-color: var(--bg-menu);
    padding: 15px;
    border-radius: 15px;
    float: left;
    align-items: center;
}

.container-seccion-tituloJJ h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    color: white;
    width: auto;
}

.container-seccion-menu2JJ{
    width: auto;
    height: 10vh;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    float: right;

}


.container-seccion-tituloJJ h3{

    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin-top: 0px;
    font-family: arial;
    font-size: 25px;
}

.container-seccionJJ{
    width: 100%;
    height: AUTO;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin-top: 100px;

    vertical-align: middle;
    float: none;
}

.table-my-0JJ{
    align-items: center;
}


.navbar-brandJJ {
    font-size: 20px;
    margin: 5px;
    color: black;
    font-size: 200%;
}


.container-tableJJ {
    width: 100%;
    height: 50%;
    font-size: 91%;
    background-color: #c5c5c5;
    margin-top: 20px;
    margin-bottom: 20px;
    /*place-content: center;*/
}


.container-tableJJ .table-my-0JJ {
    background-color: #c5c5c5;
    text-align: left;
    /*border-collapse: collapse; */
    width: 100%;
}

.container-tableJJ .table-my-0JJ th {
    padding: 10px;
    font-size: auto;
    
}

.container-tableJJ .table-my-0JJ td {
    padding: 3px;
    color: black;
    font-size: auto;

}

.container-tableJJ .table-my-0JJ td a{
    margin-top: 2%;
    padding: 4px;
    color: white;
    font-size: 80%;
    background-color: #1E5085;
    border: solid 2px #1E5085;
    border-radius: 8px;
    display: inline-block;
    text-decoration: none;
}

.container-tableJJ .table-my-0JJ td a:hover{
    color: white;
    font-size: 80%;
    background-color: var(--bg-menu);
    border: solid 2px var(--bg-menu);
    border-radius: 8px;
    display: inline-block;
}


.container-tableJJ .table-my-0JJ td form {
    padding: 4px;
    color: black;
    font-size: 80%;  
     
}


.container-tableJJ .table-my-0JJ td form .btn-eliminar{
    margin-top: 1%;
    color: white;
    font-size: 110%;
    background-color: #1E5085;
    border: solid 2px #1E5085;
    border-radius: 8px;
    display: inline-block;
    
}

.container-tableJJ .table-my-0JJ td form .btn-eliminar:hover{
    color: white;
    font-size: 110%;
    background-color: var(--bg-menu);
    border: solid 2px var(--bg-menu);
    border-radius: 8px;
    display: inline-block;
    /*text-decoration: none;
    font-style: none; */

}


.container-tableJJ .table-my-0JJ thead {
    background-color: #003053;
    border-bottom: solid 5px #0F362D;
    color: white;
    font-size: 90%;
}






.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding-top: 2%;
    
    /* background: #439A97; */
}

.cards {
    display: flex;
    width: 100%; /* Tarjetas ocupan el ancho completo del contenedor */
    max-width: 600px; /* Ancho máximo de 400px para evitar que se vean demasiado grandes en pantallas grandes */
    width: 500px;
    padding-block: 0.5rem;
    margin: 10px;
    
    background-color: #62B6B7;
    
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    flex-direction: column;
    overflow: hidden;
}
.cards h2{
    color: #414752;
    text-align: center;
    margin-bottom: 5%;
}

@media (min-width: 576px) {
  /* Pantallas más grandes que 576px */
    .cards {
        width: 25%; /* Tarjetas ocupan el 45% del ancho del contenedor */
    }
}

@media (min-width: 768px) {
  /* Pantallas más grandes que 768px */
    .cards {
      width: 30%; /* Tarjetas ocupan el 30% del ancho del contenedor */
    }
}

@media (min-width: 992px) {
  /* Pantallas más grandes que 992px */
    .cards {
      width: 45%; /* Tarjetas ocupan el 23% del ancho del contenedor */
    }
}

.card-img-top {
    height: auto;
    width: 100%;
}




.card-text{
    color: #414752;
    font-size: 1.0rem;
    margin-bottom: 10px;
}

.card-body {
    position: relative;
    display: inline-flex;
    margin: 1%;
    padding: 1%;
    background: #97DECE;
    border-radius: 0.25rem;
}

.card-title{
    color: #414752;
    font-size: 1.1rem;
    margin-bottom: 10px;
    width: 85%;
}

.boton-card {
    display: flex;
    /* float: right; */
    width: 15%;
    /* padding: 6px 18px;*/
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@media screen and (max-width: 768px) {
    .card-title {
        margin-right: 30px;
    }

    .boton-card {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        margin-right: 10px;
    }

    .container-cards {
        height: 400px;
        
        overflow-y: scroll;
    }
}

.boton-card:hover {
    background-color: #218838;
}