/* FONTS GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

/* VARIABLES */

:root {
    --blanco: #E0E0E0;
    --azul-opacidad: #184463;
    --bg-menu: #003053;
    --bg-body: #C7E1FF;
}

/* GENERALES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    /* color: var(--blanco); */
}


.container{
    width: 87%;
    /*height: 100vh; */
    background: #Ebeef1;
    padding: 20px;
    transition: max-width .3s ease;
    float: right; 
}

.container-seccion-titulo{
    width: 350px;
    /* height: 10vh; */
    background-color: var(--bg-menu);
    padding: 15px;
    border-radius: 15px;
    float: left;   
}

.container-seccion-titulo h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    color: white;
    width: auto;
}
.container-seccion-menu2{
    width: auto;
    height: 10vh;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    float: right;

}
@media (max-width: 767px) {
    .container-seccion-titulo{
        width: 70%;
        padding: 10px;
    }
    
    .container-seccion-titulo h4{
        /* font-size: 16px; */
        text-align: center;
    }
}



.container-seccion{
    width: 100%;
    height: AUTO;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin-top: 100px;

    display:flex;
    
    justify-content:space-between;
    /* align-items:center; */
}

.table-my-0{
    align-items: center;
}

.forms {
    width: 100%;
    height: auto;
    /* font-size: 91%; */
    background: #f0f3f5;
    border-radius: 15px;
    /* border: 2px solid #Ebeef1; */
    /* margin-top: 20px;
    margin-bottom: 20px; */
    /*place-content: center;*/
    overflow-x: auto;
    margin: 1%;
    padding: 2%;
    
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
form .razon-details .input-box{
    margin-top: 15px;
    
}

.user-details, .razon-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.input-box2 .details{
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus, .razon-details .input-box input:focus,
.user-details .input-box input:valid, .razon-details .input-box input:valid{
    border-color: #9B59B6;
}

.razon-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: Spx;
}
.razon-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.form2{
    background: #e4e7e9;
}
form .button{
    height: 45px;
    margin: 45px 0;
}
    
form .button input{
height: 100%;
width: 100%;
outline: none;
color: #fff;
font-size: 18px;
border: none;
font-weight: 500;
border-radius: 5px;
letter-spacing: 1px;
background: #7fc32d;
text-align: center;
}

form .button input:hover{
    background: #a3cc55;
    cursor: pointer;
}


.form-image {
    width: 100%;
    height: auto;
    /* display: block; */    
    background-color: #fde3a7d7;
    padding: 1rem;    
    overflow-x: auto; 
    border-radius: 15px;   
    
}

.form-image .pdf{
    width: 100%;
    height: 100%;
} 

@media (max-width: 767px) {
    .container-seccion{
        flex-wrap:wrap;
    }
    .form-image {
       height: 100%;    
        
    }
    .form-image .pdf{
        width: auto;
        height: 200px;
        overflow-y: auto;
    } 
    .forms form .user-details{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0 12px 0;
        flex-direction: column;
    }
    form .user-details .input-box{
        width: auto;
    }

    .form1{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 20rem;
        display: block;
    }
 

}
