@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0c0ce94d;
}

.container {
    width: 80%;
    height: 80vh;    
    display: flex;    
    box-shadow: 5px 5px 10px rgba(0,0,0, .212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;    
} 

.form-image .pdf{
    width: 100%;
    height: 100%;
}   
 
.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.logoitel{
    display: flex;
    align-items: center;

}
.logoitel img{
    width: 78px;
}

/* .logoitel img{
    border: none;
    background-color: #6c63ff;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #6b63fff1;
    
}
    
.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;   
} */
    
.form-header h1::after {
    content: '';
    display: block;
    width: 4rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

 /* .input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}  */
.input-group div:nth-child(1) {
    grid-column: 1/ 3;
    grid-row: 1;
  }


.input-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: auto;
    justify-content: space-between;
    padding: 1rem 0;
} 



.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    margin: 4px;
}

.input-box div {
    margin: 0.6rem 0;    
    padding: 0.8rem 1.2rem;    
    border: none;    
    border-radius: 10px;
    background: rgba(236, 234, 233, 0.733);    
    color: rgb(128, 128, 128);
    font-size: 90%;   
    /* box-shadow: 1px 1px 6px []#0000001c; */
    
}
.input-box div:hover {
    background-color: #8be2f175;
}
    
.input-box div:focus-visible {
    outline: 1px solid #6c63ff;
}
    
.input-box label{
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.download-button{
    width: auto;
    
}
.download-button button{    
    width: 10rem;
    margin-top: 2.2rem;
    border: none;
    background-color: #8db14b;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.download-button button:hover {
    background-color: #93b84e;   
}
    
.download-button button a{
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
    
    
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: flex;
        width: 100%;
        justify-content: center;
    }    
    .container{
        width: 50%;
        display:flow-root; 
        height: auto;
        margin-bottom: 2.2rem;
        margin-top: 2.2rem;
    }
    .form{
        width: 100%;
    }
}
    
@media screen and (max-width: 1064px) {
    .form-image {
        display: none;
    }   
    .container{
        width: 90%;
        height: auto;
        display:flow-root;    
    }
    
    /* .input-group {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    
    } */
    .input-group {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }

}

